# Ignore all ...
*

# ... but track specific files / folders: 
# (see https://stackoverflow.com/a/29012085/809939)

# track gitignore
!.gitignore

# track README & License
!/README.md
!/LICENSE
!/wp_groundstation.png
!/wppusher_example.png

# track ddev config 
# !/.ddev/config.yaml
# (uncomment the above line if you want to git track / share
# it in your project, => recommended for team projects)

# track ddev providers script
!/.ddev
/.ddev/*
!/.ddev/providers
/.ddev/providers/*
!/.ddev/providers/wp-production.yaml

# track child theme
!/wp-content
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/twentytwentyone-child

# Default global ignores in tracked folders:
.DS_Store 
Thumbs.db