# If you want to use this container multiple times, change name
name: wp-groundstation
type: php
docroot: "ddev-wordpress"
php_version: "7.4"
webserver_type: apache-fpm
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
additional_hostnames: []
additional_fqdns: []
provider: default
use_dns_when_possible: true
mysql_version: 5.7
